/* contato.css */

#comp-k5cws236 h1 {
    font-size: 62px;
    line-height: 0.9em;
}

#comp-k5cws236 h1 span {
    color: #222222;
    font-family: wfont_ab76ba_def3430855f6447eb5a0e3279decb8e3, wf_def3430855f6447eb5a0e3279, orig_akzidenzgroteskbecn;
    letter-spacing: 0em;
    /*  Redundante, pois 0em é o padrão */
    font-size: 62px;
    /* Redundante, já definido no h1 */
}

/* #comp-k5cws23b {
   /* Estilos para o container do formulário, se necessário  */


   /* Seletor agrupado para inputs de texto */
/* #comp-kegqxf57 .MpKiNN input,  
#comp-kegqxf5m1 textarea  */
    /* Estilos para a textarea */
    /* Estilos comuns aos inputs e textarea



/* #comp-kegqxf5b input[type="text"] {
   /*  Estilos específicos para o input de nome */



/* #comp-kegqxf5e input[type="tel"] {
   /* Estilos específicos para o input de telefone */


/* #comp-kegqxf5h input[type="email"] {
    /* Estilos específicos para o input de email */

/* #comp-kegqxf5j2 input[type="text"] {
    /* Estilos específicos para o input de assunto */



/* #comp-kegqxf5m1  {
   /* Estilos específicos para o container da textarea, se necessário */


/* #comp-kegqxf5p1 button {
   Estilos para o botão */


/* #comp-kegqxf5p1 button span {
   Estilos para o texto do botão */


#comp-kegqxf5s1 p {
    font-size: 14px;
    text-align: center;
}

#comp-kegqxf5s1 p span {
    color: #68B04D;
    font-family: helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    font-size: 14px;
    /* Redundante, já definido no p */
}


/*  Classes Wix  */

/* .HcOXKn, .SxM0TO, .QxJLC3, .lq2cno, .wixui-rich-text,
.bkIuWA, .JVi7i2,  .wixui-form, .MpKiNN, .wixui-text-input,
.lPl_oN, .LyB02C, .pUnTVX, .KvoMHf, .has-custom-focus, .wixui-text-input__input,
.snt4Te, .wixui-text-box, .pOExcs, .PSkPrR, .wixui-text-box__label,
.rEindN, .wixui-text-box__input, .FubTgk, .uDW_Qe, .wixui-button, .PlZyDq,
.l7_2fn, .wixui-button__label
{
    /*  Estilos para classes Wix, se necessário.  */
/*  Cuidado ao estilizar classes Wix, pois podem afetar outros elementos. */